body {
  width: 200px;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 10px;
}

h3 {
  margin-bottom: 20px;
}

button {
  width: 80%;
  margin: 5px 0;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

button#spring {
  background-color: rgb(255, 56, 205); /* 春仕様 */
  font-weight: bold;
  color: white;
}

button#summer {
  background-color: rgb(71, 255, 184); /* 夏仕様 */
  font-weight: bold;
  color: white;
}

button#autumn {
  background-color: rgb(252, 159, 37); /* 秋仕様 */
  font-weight: bold;
  color: white;
}

button#winter {
  background-color: rgb(71, 99, 255); /* 冬仕様 */
  font-weight: bold;
  color: white;
}